{% extends "base.html" %}

{% block content %}
    <h1>Movie Search Results</h1>
    <a href="/" class="button">Back to Home</a>
    <ul class="movie_container">
        {% for movie in search_results %}
            <div class='movie_details'>
                {% if movie['poster_path'] %}
                    <img src="https://image.tmdb.org/t/p/w92{{ movie['poster_path'] }}" alt="{{ movie['title'] }} Poster">
                {% else %}
                    <div class="blank_div">
                        <h6>No image available</h6>
                    </div>
                {% endif %}
                <li>
                    <h6>{{ movie['title'] }}
                    ({{ movie['release_date'] }})</h6>
                </li>
            </div>
        {% endfor %}
    </ul>
{% endblock %}
