
    {% extends "base.html" %}

    {% block content %}
        <h1>{{ category.replace('_', ' ') | capitalize }} Movies</h1>
        <a href="/" class="button">Back to Home</a></button>
        <ul class='movie_container'>
            {% for movie in movies %}
                <div class='movie_details'>
                    <img src="https://image.tmdb.org/t/p/w92{{ movie['poster_path'] }}" alt="{{ movie['title'] }} Poster">
                    <li>
                        <h6>{{ movie['title'] }}
                        ({{ movie['release_date'] }})</h6>
                    </li>
                </div>
            {% endfor %}
        </ul>
    {% endblock %}

